<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .center-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 50%;
            min-height: 100vh;
        }
        .myDiv{
            background-color: #0e79a0;
            padding: 20px;
            height: 80%;
            width: 50%;
            border-radius: 5px;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="center-screen">
                <div class="myDiv">
                    <div class="col text-center">
                        <h2 style="color: white;">Login Here</h2>
                    </div>
                    <div class="alert alert-success" th:if="${saved}" th:text="${saved}"></div>
                    <div class="alert alert-danger" th:if="${notFound}" th:text="${notFound}"></div>
                    <div class="alert alert-danger" th:if="${wrongPassword}" th:text="${wrongPassword}"></div>
                    <br>
                    <form method="post" th:action="@{/login}" th:object="${user}">
                        <div class="form-row">
                            <div class="col-2">
                                <input class="form-control" type="text" th:field="${user.email}"  placeholder="Enter Email"><br>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="${user.email}"></div>
                            </div>
                            <br>
                            <div class="col-2">
                                <input class="form-control" type="password" th:field="${user.password}" placeholder="Enter Password"><br>
                                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="${user.password}"></div>
                            </div>
                            <br>
                            <div class="col-2">
                                <input style="float: left" id="submitNews" class="btn btn-success" type="submit" value="Login">
                                <a th:href="@{/signup-page}"><button id="mybtn" style="float: right" type="button" class="btn btn-warning" >Sign Up</button></a>
                            </div>
                            <br>
                        </div>
                    </form>


                </div>
            </div>

        </div></div></div>

</body>
</html>